@*//RR
    MonthEnd History-Earned (Home Page)
Deductible-calls the action MonthEndHistoryDeductible()
All events call action in same controller except back and download event.*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MonthEndHistoryEarned</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
