@*HomePAge-with menu
Event MonthEndManagement directs to action MonthEndDashBoard.MonthEndDashboardHomePage()*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccountHomePage</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
