@*//RN
view of MonthEndDashBoard with events
client-direct action "/MonthEndHistory/MonthEndHistory_Earned"
begin-"/MonthEndManagement/MonthEndManagementEarned"
Approve-??
SP-??*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MonthEndDashboard_HomePage</title>
</head>
<body>
    <div>
        <h1>MonthEndDashBoard</h1>
    </div>
</body>
</html>
