@* Home page of MEM
    All events call action in same controller except back and download even*@t.
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MonthEndManagementEarned</title>
</head>
<body>
    <div>
        <h3>MonthEndManagementEarned</h3>
    </div>
</body>
</html>
